.on-footer2 {
    background: rgb(246, 249, 252);
    background: linear-gradient(0deg, rgba(246, 249, 252, 1) 0%, rgba(246, 249, 252, 1) 29%, rgba(252, 253, 254, 0.6487045501794468) 72%, rgba(254, 254, 255, 0.5506653344931722) 88%, rgba(255, 255, 255, 0.5450630935968137) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 112px;
    padding-top: 120px;
    padding-bottom: 175px;
}

.footer-payment-wrapper {
    max-width: 412px;
    height: 112px;
}

.footer-payment-wrapper {
    font-weight: 500;
    font-size: 22.13px;
    font-family: 'DM Sans', sans-serif;
    line-height: 32px;
    letter-spacing: 0.1px;
}

.footer-payment-p {
    font-weight: 500;
    font-size: 16.45px;
    font-family: 'DM Sans', sans-serif;
    line-height: 28px;
    letter-spacing: 0.2px;
    margin: 24px 0px;

    &>a {
        text-decoration: none;
    }
}

.payment-links-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;

    &>a {
        text-decoration: none;
        font-weight: 500;
        font-size: 13.95px;
        font-family: 'DM Sans', sans-serif;
        line-height: 24px;
        letter-spacing: 0.2px;
        position: absolute;
        top: -8px;
        left: 125px;
    }

    & img {
        position: absolute;
        right: 165px;
        bottom: 12px;
    }
}

.start-payment-btn {
    width: 111.64px;
    height: 33px;
    position: relative;
    padding: 3px 26px 6px 16px;
    border: 1px;
    border-radius: 16.5px;
    background: #635BFF;
    color: #F6F9FC;
    font-size: 13.36px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;

    &>img {
        position: absolute;
        top: 9px;
        right: 12px;
    }
}

.start-payment-btn:hover {
    background: #2b2786be;
    cursor: pointer;
}

.payment-description-wrapper {
    gap: 67px;
    display: flex;
    margin-top: 105px;
}

.payment-description {
    & h3 {
        font-size: 14.06px;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #0A2540;
        margin: 8px 0px 8px 16px;
    }

    & p {
        font-size: 13.71px;
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #425466;
        margin: 8px 0px 8px 16px;
    }
}

.description-header {
    position: relative;

    &>img:nth-child(1) {
        position: absolute;
        top: -36px;
        left: -12px;
    }

    &>img:nth-child(2) {
        position: absolute;
        top: -61px;
        left: 41px;
    }
}

.payment-last-link {
    position: relative;

    &>a {
        text-decoration: none;
        font-weight: 500;
        font-size: 13.71px;
        font-family: 'DM Sans', sans-serif;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #635BFF;
    }

    &>img {
        position: absolute;
        bottom: 6px;
        right: 75px;
    }
}

.description-header2 {
    position: relative;

    &>img:nth-child(1) {
        position: absolute;
        top: -53px;
        left: 49px;
        z-index: 1;
        opacity: .73;
    }

    &>img:nth-child(2) {
        position: absolute;
        top: -60px;
        left: 43px;
    }
}