.on-footer-text-wrapper{
    margin-left: 230px;
}

.on-footer-logo{
    color: #635BFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 16.88px;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.on-footer-h2{
    color: #0A2540;
    font-family: 'DM Sans', sans-serif;
    font-size: 35.77px;
    line-height: 48px;
    letter-spacing: -0.2px;
}

.on-footer-p{
    color: #425466;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16.45px;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.on-column-wrapper{
    display: flex;
    justify-content: center;
    gap: 8.11px;
    margin: 0px 7.73px 12.77px 7.73px;
    cursor: pointer;
    margin-top: 64px;
}

.on-column1, .on-column2, .on-column3{
    width: 338.66px;
    height: 528.41px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 26px -15px;
}

.footerh3{
    color: #0A2540;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 24.17px;
    line-height: 36px;
    margin: 23.49px 24px 0px 24px;
}

.footer-pp{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16.17px;
    line-height: 28px;
    letter-spacing: 0.2px;
    margin: 12.23px 24px 84px 24px;
    & > a {
        text-decoration: none;
    }
}

.on-column-wrapper > div:hover{
    background-color: #9966ff0f;
    transform: scale(1.03);
    transform: translateY(-5px);
    transition: .3s ease;
}
